*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
}

img{
    width: 50vh;
}

.add{
    justify-content: center;
    align-items: center;
    width:100%;
    display: flex;
    padding: 10px;
    padding-left: 0px;
    color: #000;
    height: 3vh;
    width: 20vh;
    border:solid 2px;
    border-radius: 15px;
    background-position: 4%;
    font-size: 13px;
    font-weight: 300;
}